<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AMessage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCBE81521D8FF6F700644CBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCBE816B1D8FF6F800644CBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCBE81761D8FF6F800644CBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
